{% load static %}
<!-- -->
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'users/main.css' %}" />
    <title>GitMerged | Complete</title>
  </head>
  <body>
    <section class="login">
      <div class="content-section">
        <h1>Your Password was Reset</h1>

        <a href="{% url 'login' %}">Sign In Here</a>
      </div>
    </section>
  </body>
</html>
