{% extends "base.html" %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<section>
  <div class="navigation navigation--bg">
    <a href="/" class="logo link">GitMerged</a>
    <div>
      {% if user.is_authenticated %}
      <a href="{% url 'profile-page' %}" class="profile-link link">Profile</a>
      <a href="{% url 'logout' %}" class="login link">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="login link">Log in</a>
      {% endif %}
    </div>
  </div>
  <section class="profile">
    <div>
      <img
        src="{{user.profile.profile_image.url}}"
        alt=""
        class="profile-image"
      />
    </div>
    <div class="profile-about">
      <h2>{{ user.profile.full_name }}</h2>
      <h6>{{user.profile.os}} | {{user.profile.editor}}</h6>
      <p class="bio">{{ user.profile.bio }}</p>
      <p class="username">{{ user.username }}</p>
    </div>
    <div class="stats">
      <div>
        <h4 class="header">Age</h4>
        <h4>{{ user.profile.age }}</h4>
      </div>
      <div>
        <h4 class="header">Tech Stack</h4>
        <h4>{{user.profile.tech_stack}}</h4>
      </div>
      <div>
        <h4 class="header">Likeability</h4>
        <h4>{{likes}}</h4>
      </div>
    </div>

    <div id="match-btn">
      {% if unreadmsgs > 0 %}
      <span class="new badge" id="msg-badge"> {{unreadmsgs}} </span>
      {% endif %}
      <a
        href="{% url 'date-page' %}"
        style="margin: 20px; background: coral"
        class="btn"
        >Find your match</a
      >
    </div>
  </section>
  <div style="margin: 50px auto; max-width: 80%">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fas fa-cog"></i> Edit Profile
        </div>
        <div class="collapsible-body">
          <p>*Please enter your Tech Stack in CSV Format</p>
          <form action="" method="POST" enctype="multipart/form-data">
            <!-- Cross site request token added security -->
            {% csrf_token %}
            <!-- -->
            {{ form }}
            <div>
              <button class="btn" type="submit" style="margin: 20px 0">
                Update
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</section>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">GitMerged</h5>
        <p class="grey-text text-lighten-4">
          Git Merged with your perfect tech pair.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="{% url 'profile-page' %}"
              >Profile</a
            >
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="{% url 'logout' %}"
              >Logout</a
            >
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="{% url 'date-page' %}"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">GitMerged © 2020</div>
  </div>
</footer>

<!--  -->
{% endblock content %}
