{% extends "base.html" %}
<!--  -->
{% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  defer
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  defer
></script>
{% endblock head %}
<!--  -->
{% block content %}
<section class="date-page">
  <div class="navigation navigation--bg">
    <a href="" class="logo link">GitMerged</a>
    <div>
      {% if user.is_authenticated %}
      <a href="{% url 'profile-page' %}" class="profile-link link">Profile</a>
      <a href="{% url 'logout' %}" class="login link">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="login link">Log in</a>
      {% endif %}
    </div>
  </div>
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <img class="circle" src="{{userIn.profile.profile_image.url}}" />
        <span class="name">{{userIn.profile.full_name}}</span>
        <span class="email">{{userIn.email}}</span>
      </div>
    </li>
    <li>
      {% if unreadmsgs > 0 %}
      <a href="{% url 'view-messages' %}" class="waves-effect"
        ><span class="new badge">{{unreadmsgs}}</span
        ><i class="material-icons">message</i>Your Messages</a
      >
      {% else %}
      <a href="{% url 'view-messages' %}" class="waves-effect"
        ><i class="material-icons">message</i>Your Messages</a
      >
      {% endif %}
      
    </li>
    <li><a href="{% url 'profile-page' %}" class="waves-effect"><i class="material-icons">account_box</i>Your Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Other Pages</a></li>
    <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Dating Page</a></li>
  </ul>
  <div class="burger">
    {% if unreadmsgs > 0 %}
      <a href="#" data-target="slide-out" class="sidenav-trigger"
        ><span class="new badge">{{unreadmsgs}}</span>
        <i class="material-icons" style="color: black; margin: 20px;">menu</i>
      </a>
    {% else %}
      <a href="#" data-target="slide-out" class="sidenav-trigger"
        >
        <i class="material-icons" style="color: black; margin: 20px;">menu</i>
      </a>
    {% endif %}
  </div>
  <ul class="collapsible" id="filter">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">search</i>Find the Perfect Match
      </div>
      <div class="collapsible-body">
        <form action="" method="get">
          {{filter.form}}
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </li>
  </ul>
  {% for msg in messages %}
  <div
    class="alert alert-success alert-dismissible fade show"
    id="message"
    role="alert"
  >
    <strong>{{ msg }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <div class="users-container">
    {% for user in users %}
    <!--  -->
      {% if user.user != userIn %}
      
        {% if userIn not in user.blocked_by.all %}
        <div class="user-card">
          <a href="{% url 'user-detail' user.pk %}">
            <img src="{{user.profile_image.url}}" class="image-home" alt="" />
          </a>
          <div class="info-container">
            <p>{{user.full_name}}, {{user.age}}</p>
            <p>{{user.tech_stack}}</p>
            <div style="display: flex; justify-content: space-between;">
              <form action="{% url 'like' user.pk %}" method="POST">
                {% csrf_token %}
                <!--  -->
                {% if userIn not in user.likeability.all %}
                <button
                  class="like-btn"
                  type="submit"
                  ,
                  name="user_id"
                  ,
                  value="{{user.id}}"
                >
                  <i class="far fa-heart"></i>
                </button>
                {% else %}
                <button
                  class="like-btn"
                  type="submit"
                  ,
                  name="user_id"
                  ,
                  value="{{user.id}}"
                >
                  <i class="fas fa-heart"></i>
                </button>
                {% endif %}
              </form>
              <form action="{% url 'block' user.pk %}" method="POST">
                {% csrf_token %}
                <button
                  class="block-btn"
                  type="submit"
                  ,
                  name="user_id"
                  ,
                  value="{{user.id}}"
                >
                  <i class="far fa-times-circle"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      
      {% endif %}
    
    {% endfor %}
  </div>
</section>
{% include "footer.html" %}

{% endblock content %}

<!--  -->
{% comment %} https://diverseui.com/ {% endcomment %}
